.project{
    margin: 20px;
    padding: 20px;
    justify-items: center;
    color: rgb(67, 37, 1);
    background-color: rgb(211, 207, 193);
    font-size: 19px;
}

.img{
  width: 800px;
  display: grid;
}

.text {
  width: 1100px;
  text-align: center;

}

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(211, 207, 193);
    padding: 10px;
    gap: 300px
}
.nav-links{
    list-style: none;
  display: flex;
    margin: 0;
    padding: 10px;
    color: rgb(67, 37, 1);
    align-items: center;
    gap: 30px;
}
