.Pages{
    width: 100%;
   justify-items: center;
   align-content: center;
   background-color: azure;
   
}

.main-heading{
    color: royalblue;
   text-align: center;
}

.sub-headind{
    color: palevioletred;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgabout{
   
    height: 536px;
}
.imghome{
    width: 100%;
}

.contact{
    height: 83vh ;
}